import(survival)
import(grplasso)
importFrom(Matrix,bdiag)
export(Ibs.1.fun)
export(bs.1.fun)
export(bs.1)
export(a.liang)
export(Ibs.1.pred)
export(PO.gen)
export(PO.sim)
export(logit)
export(expit)
export(PO.glasso)
export(PO.glasso.cv)
export(xi.CWY)
export(dxi.CWY)
export(PO.ipcw)
export(PO.base.ipcw)
export(PO.NPMLE)
export(PO.ipcw)
export(PO.it)
export(PO.bs.loglik)
export(PO.bs.ploglik)
export(PO)
export(PO.control)
export(PO.glasso.control)
export(PO.control)
export(PO.glasso)
export(PO.control)
export(PO.play)
importFrom("stats", "binomial", "coef", "delete.response", "formula",
               "glm", "knots", "model.extract", "model.matrix",
               "model.offset", "pchisq", "pnorm", "predict", "qnorm",
               "rbinom", "rnorm", "runif", "stepfun", "terms")

